<div class="date">
{{date}}
</div>
{{!-- user --}}
{{#if user}}
    <LinkTo @route="profile" @model={{user}}>
        <IconImage @data={{user}} @image={{userImage}} @class="user-icon" />
    </LinkTo>
{{/if}}

{{!-- action --}}
<div class="activity-action">
    {{t (add 'activity.actions.' _data.action)}}
</div>

{{!-- cheevie --}}
{{#if cheevie}}
    <div class="activity-cheevie">
        <IconImage @data={{cheevie}} @image={{cheevieImage}} @class="cheevie-icon" />
    </div>
{{/if}}

{{yield}}