<div class="date">
{{date}}
</div>
{{!-- user --}}
{{#if user}}
    {{#link-to 'profile' user}}
        {{icon-image data=user image=userImage class="user-icon"}}
    {{/link-to}}
{{/if}}

{{!-- action --}}
<div class="activity-action">
    {{t (add 'activity.actions.' _data.action)}}
</div>

{{!-- cheevie --}}
{{#if cheevie}}
    <div class="activity-cheevie">
        {{icon-image data=cheevie image=cheevieImage class="cheevie-icon"}}
    </div>
{{/if}}

{{yield}}