<button class="icon-button selector-close" aria-label="close" {{action 'goBack'}}>
  <SvgIcon @_name="x" @_size={{24}} @_title={{t "icons.close"}} @class="right v-center" />
</button>

<div class="search">
    <Input @name="search" @value={{query}} placeholder={{t "giphy-selector.input.placeholder"}} @autocomplete="off" />
</div>

<div class="giphies grid-wrapper-3">
    {{#each giphies as |giphy|}}
        <GiphySelectorItem @data={{giphy}} @takeGiphy={{action "takeGiphy"}} />
    {{else}}
        <div class="empty-message">
            {{t 'messages.empty'}}
        </div>
    {{/each}}
</div>

{{yield}}