{{#if image}}
    <picture>
        <source media="(max-width: 18em)" srcset={{image.sm.url}}>
        <source media="(min-width: 18em)" srcset={{image.md.url}}>
        <source media="(min-width: 35.5em)" srcset={{image.lg.url}}>
        <img src={{image.sm.url}} alt={{altText}} />
    </picture>
{{else}}
  <span>{{initials}}</span>
{{/if}}

{{yield}}