<div class="avatar">
  <img src={{avatar.512.url}} alt="">
</div>

<div class="info">
  <h3 class="user-name">
    {{me.model.name}}
  </h3>

  <div class="cheevies-list">
    <div class="grid-wrapper-3">
      {{#each cheevies as |cheevie|}}
        {{cheevie-in-list cheevie=cheevie class="cheevie-in-list"}}
      {{else}}
        <div class="empty-placeholder">
          {{t 'no-cheevies-placeholder'}}
        </div>
      {{/each}}
    </div>
  </div>

  <div class="add-cheevie-wrapper">
    <button class="icon-button" {{action 'createCheevie'}}>
      {{svg-icon _name="plus-circle" _size=48}}
    </button>
    <span class="add-cheevie-text">
      {{t 'create-cheevie.title'}}
    </span>
  </div>
</div>

{{yield}}

<footer class="drawer-footer">
  <button class="icon-button" {{action 'invalidate'}}>
    {{svg-icon _name="log-out" _size=24}}
  </button>
</footer>