<svg
  name={{_name}}
  width={{_size}}
  height={{_size}}
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  style={{style}}
>
  <use xlink:href="{{get-path (add 'feather-icons/dist/feather-sprite.svg#' _name)}}"/>
</svg>
{{#if _title}}
    <span class="title">
        {{_title}}
    </span>
{{/if}}