<div class="modal" {{did-insert this.didInsert}}>
    <a class="modal-background" {{on 'click' this.goBack}}></a>
    <ModalContent
        {{busy-loader this.args.busy}}
        @goBack={{this.goBack}}
        @giveCheevieModal={{this.giveCheevieModal}}
        @disableDrag={{this.disableDrag}}
        @class={{if this.noTransition "no-transition"}}>
      {{yield}}
    </ModalContent>
    <button class="icon-button modal-close" aria-label="close" {{on 'click' this.goBack}}>
      <SvgIcon @_name="x" @_size={{24}} @_title={{t "icons.close"}} @class="left v-center" />
    </button>
</div>