<div class="avatar">
    <IconImage @data={{this.myModel}} @image={{this.image}} />
</div>

<div class="info">
    <h3 class="user-name">
        {{this.myModel.username}}
    </h3>

    <div class="cheevies-list">
        <div class="grid-wrapper-3">
            {{#each this.cheevies as |cheevie|}}
                <CheevieInList @cheevie={{cheevie}} class="cheevie-in-list" />
            {{else}}
            <div class="empty-placeholder">
                {{t 'you-have-no-cheevies-yet'}}
            </div>
            {{/each}}
        </div>
    </div>

    {{#if this.canCreateCheevie}}
        <div class="add-cheevie-wrapper">
            <button class="icon-button" {{action 'createCheevie'}}>
                <SvgIcon @_name="plus-circle" @_size={{48}} />
            </button>
            <span class="add-cheevie-text">
                {{t 'create-cheevie.title'}}
            </span>
        </div>
    {{/if}}
</div>

{{yield}}

<footer class="drawer-footer">
    <LinkTo @route="index.settings">
    <SvgIcon @_name="settings" @_size={{24}} @_title={{t "icons.settings"}} class="bottom h-center" />
    </LinkTo>

    <LinkTo @route="index.activity">
    <SvgIcon @_name="clock" @_size={{24}} @_title={{t "icons.activity"}} class="bottom h-center" />
    </LinkTo>

    <button class="icon-button" {{action 'invalidate'}}>
        <SvgIcon @_name="log-out" @_size={{24}} @_title={{t "icons.sign_out"}} class="bottom h-center" />
    </button>
</footer>