<div class="center-wrapper">
    <div class="logo-wrapper">
        <img src={{get-path 'images/Logo.svg'}} alt="Logo">
    </div>
    <ul class="form-errors">
        {{#each model.errors as |error|}}
        <li>
            {{error.attribute}}: {{error.message}}
        </li>
        {{/each}}
    </ul>

    <section class="section container" test-id="credentials-section">
        <form {{on 'submit' this.handleRegister}}>
            <div class="field">
                <label class="label" for="username">{{t 'form.name.label'}}</label>
                <div class="control">
                    <Input class="input" id="username" type="text" placeholder=" " autocomplete="username" @value={{this.model.username}} />
                    <div class="placeholder">{{t 'form.name.placeholder'}}</div>
                    <div class="background"></div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="email">{{t 'form.email.label'}}</label>
                <div class="control">
                    <Input class="input" @id="email" @type="email" placeholder=" " @value={{model.email}} />
                    <div class="placeholder">{{t 'form.email.placeholder'}}</div>
                    <div class="background"></div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">{{t 'form.password.label'}}</label>
                <div class="control">
                    <Input class="input" @id="password" @type="password" placeholder=" " @value={{model.password}} />
                    <div class="placeholder">{{t 'form.password.placeholder'}}</div>
                    <div class="background"></div>

                    <button type="submit" class="submit-button icon-button">
                        <SvgIcon @_name="arrow-right" @_size={{20}} />
                    </button>
                </div>
            </div>
        </form>
    </section>
</div>

{{outlet}}

<div class="text-center-wrapper">
    <LinkTo @route="wardrobe.sign-in">{{t 'register.buttons.login' }}</LinkTo>
    {{!-- {{t 'or'}} --}}
    {{!-- <LinkTo @route="reset-password">{{t 'nav.forgot-password' }}</LinkTo> --}}
</div>