<div class="center-wrapper">
    <div class="logo-wrapper">
        <img src={{get-path 'images/Logo.svg'}} alt="Logo">
    </div>

    <ul class="form-errors">
        {{#each model.errors as |error|}}
        <li>
            {{error.attribute}}: {{error.message}}
        </li>
        {{/each}}
    </ul>

    <section class="section container credentials-section" test-id="credentials-section">
        <form {{action 'passwordSignIn' on="submit"}} autocomplete="off" novalidate>
            <div class="field">
                <label class="label" for="email">{{t 'form.email.label'}}</label>
                <div class="control">
                    <Input @autocomplete="off" class="input" id="username" type="text" placeholder=" " @value={{model.username}} />
                    <div class="placeholder">{{t 'form.name.placeholder'}}</div>
                    <div class="background"></div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">{{t 'form.password.label'}}</label>
                <div class="control">
                    <Input @autocomplete="off" class="input" @type="password" @id="password" placeholder=" " @value={{model.password}} />
                    <div class="placeholder">{{t 'form.password.placeholder'}}</div>
                    <div class="background"></div>
                    <button type="submit" class="submit-button icon-button">
                        <SvgIcon @_name="arrow-right" @_size={{20}} />
                    </button>
                </div>
            </div>
        </form>

        <div class="field">
            <button class="pretty-button demo" {{action 'demoSignIn'}}>
                {{t 'buttons.demo-sign-in'}}
            </button>
        </div>
    </section>
</div>

{{outlet}}

<div class="text-center-wrapper">
    <LinkTo @route="wardrobe.sign-up">{{t 'login.buttons.register' }}</LinkTo>
    {{!-- {{t 'or'}} --}}
    {{!-- <LinkTo @route="reset-password">{{t 'nav.forgot-password' }}</LinkTo> --}}
</div>