<div class="center-wrapper">
    <div class="logo-wrapper">
        <img src={{get-path 'images/Logo.svg'}} alt="Logo">
    </div>

    <div class="social-buttons-wrapper">
        <div class="field">
            <button class="pretty-button google" {{action 'googleSignIn'}}>
                {{t 'buttons.google'}}
            </button>
        </div>

        <div class="field">
            <button class="pretty-button facebook" {{action 'facebookSignIn'}}>
                {{t 'buttons.facebook'}}
            </button>
        </div>

        <div class="field">
            <button class="pretty-button demo" {{action 'demoSignIn'}}>
                {{t 'buttons.demo-sign-in'}}
            </button>
        </div>
    </div>

    {{outlet}}

</div>

<div class="text-center-wrapper">
    <LinkTo @route="wardrobe.sign-in">{{t 'nav.oldschool' }}</LinkTo>
</div>

{{#if busy}}
<div class="is-busy"></div>
{{/if}}