<ModalWrapper @goBack={{this.goBack}} @class={{if this.image "has-image" "no-image"}}>
    {{#if this.isShareAvailable}}
    {{#if this.isMe}}
    <button class="icon-button share" {{on 'click' (fn this.shareCheevie this.model)}}>
        <SvgIcon @_name="share-2" @_size={{18}} @_title={{t "icons.share"}} @class="v-center left" />
    </button>
    {{/if}}
    {{/if}}

    {{#if this.isMe}}
        <button class="icon-button delete" {{on 'click' (fn this.refuseCheevie this.model)}}>
            <SvgIcon @_name="trash-2" @_size={{18}} @_title={{t "icons.remove"}} @class="v-center left" />
        </button>
    {{/if}}

    {{#if this.image}}
        <figure class="image">
        <img src={{this.image.url}}>

        </figure>
    {{else}}
        <div class="image-placeholder">
          <SvgIcon @_name="image" @_size={{48}} />
        </div>
    {{/if}}

    <h1 class="title">
      {{this.model.name}}
    </h1>

    <div class="description">
      {{this.model.description}}
    </div>

    {{outlet}}

</ModalWrapper>