<ModalWrapper @goBack={{action "goBack"}} @class={{if _image "has-image" "no-image"}} @busy={{busy}} @disableDrag={{editMode}}>
  {{#if showMode}}
    {{#if canEditCheevie}}
        <button class="icon-button mode-toggle is-info" {{action 'toggleMode'}}>
        <SvgIcon @_name="edit" @_size={{24}} @_title={{t "icons.edit"}} @class="h-center bottom" />
        </button>
    {{/if}}

    {{#if _image}}
        <figure class="image">
        <img src={{_image.url}}>

        </figure>
    {{else}}
        <div class="image-placeholder">
          <SvgIcon @_name="image" @_size={{48}} />
        </div>
    {{/if}}

    <h1 class="title">
      {{model.name}}
    </h1>

    <div class="description">
      {{model.description}}
    </div>
  {{else}}
    <button class="icon-button mode-toggle" {{action 'toggleMode'}}>
      <SvgIcon @_name="chevron-left" @_size={{24}} @_title={{t "icons.cancel"}} @class="h-center bottom" />
    </button>
    <button class="icon-button cheevie-delete" {{action 'deleteCheevie'}}>
      <SvgIcon @_name="trash-2" @_size={{24}} @_title={{t "icons.remove"}} @class="h-center bottom" />
    </button>

    <div class="image-uploader-wrapper">
        <a class="image-uploader-trigger" href="" {{action 'chooseMethod'}}></a>
        <ImagesDropArea @uploadImage={{action "uploadImage"}}>
        {{#if _image}}
            <figure class="image">
            <img src={{_image.url}}>
            </figure>

            <button class="icon-button delete" {{action 'removeImage'}}>
            <SvgIcon @_name="x" @_size={{48}} @_title={{t "icons.remove"}} @class="h-center bottom" />
            </button>
        {{else}}
            <div class="drop-area">
            <SvgIcon @_name="image" @_size={{48}} @_title={{t "icons.add_image"}} @class="h-center bottom" />
            </div>
        {{/if}}
        </ImagesDropArea>
        {{#if showOptionalMenu}}
            <ul class="optional-menu">
                <li {{action 'selectGiphy'}}>
                    {{t 'optional-menu.giphy'}}
                </li>
                <li {{action 'selectUpload'}}>
                    {{t 'optional-menu.upload'}}
                </li>
                <li {{action 'closeOptionalMenu'}}>
                    {{t 'optional-menu.cancel'}}
                </li>
            </ul>
        {{/if}}
    </div>

    {{#if showGiphySelector}}
        <GiphySelector @goBack={{action "closeOptionalMenu"}} @takeGiphy={{action "takeGiphy"}} />
    {{/if}}

    {{partial 'cheevie-edit-form'}}
  {{/if}}
</ModalWrapper>
