{{#modal-wrapper goBack=(action 'goBack') class=(if _image 'has-image' 'no-image') busy=busy}}
  {{#if (eq showMode)}}
    <button class="icon-button mode-toggle is-info" {{action 'toggleMode'}}>
      {{svg-icon _name="edit" _size=24}}
    </button>

    {{#if _image}}
        <figure class="image">
        <img src={{_image.url}}>

        </figure>
    {{else}}
        <div class="image-placeholder">
          {{svg-icon _name="image" _size=48}}
        </div>
    {{/if}}

    <h1 class="title">
      {{model.name}}
    </h1>

    <div class="description">
      {{model.description}}
    </div>
  {{else}}
    <button class="icon-button mode-toggle" {{action 'toggleMode'}}>
      {{svg-icon _name="chevron-left" _size=24}}
    </button>
    <button class="icon-button cheevie-delete" {{action 'deleteCheevie'}}>
      {{svg-icon _name="trash-2" _size=24}}
    </button>

    {{#images-drop-area
      uploadImage=(action 'uploadImage')
    }}
      {{#if _image}}
        <figure class="image">
          <img src={{_image.url}}>
        </figure>

        <button class="icon-button delete" {{action 'removeImage'}}>
          {{svg-icon _name="x" _size=48}}
        </button>
      {{else}}
        <div class="drop-area">
          {{svg-icon _name="image" _size=48}}
        </div>
      {{/if}}
    {{/images-drop-area}}

    {{partial 'cheevie-edit-form'}}
  {{/if}}
{{/modal-wrapper}}
