{{#modal-wrapper goBack=(action 'goBack')}}
  {{#if (eq showMode)}}
    <button class="button mode-toggle is-info" {{action 'toggleMode'}}>
      {{t 'buttons.edit'}}
    </button>
    <figure class="image">
      <img src={{model.imageUrl}}>
    </figure>
    <section class="section">
      <h1 class="title">
        {{model.name}}
      </h1>

      <div class="description">
        {{model.description}}
      </div>
    </section>
  {{else}}
    <button class="button mode-toggle is-info" {{action 'toggleMode'}}>
      {{t 'buttons.back'}}
    </button>
    <button class="button cheevie-delete is-danger" {{action 'deleteCheevie'}}>
      {{t 'buttons.delete'}}
    </button>
    <section class="section">
      {{#images-drop-area
        images=model.imageUrl
        uploadImage=(action 'uploadImage')
      }}
        {{#if image}}
          <figure class="image">
            <img src={{image.url}}>
          </figure>

          <a class="delete is-large" {{action 'removeImage'}}></a>
        {{else}}
          {{icon-image data=model size=300}}
        {{/if}}
      {{/images-drop-area}}

      {{partial 'cheevie-edit-form'}}
    </section>
  {{/if}}
{{/modal-wrapper}}
