{{#modal-wrapper goBack=(action 'goBack') busy=busy}}
    {{#images-drop-area
      images=_model.images-set
      uploadImage=(action 'uploadImage')
    }}
      {{#if _image}}
        <figure class="image">
          <img src={{_image.url}}>
        </figure>

        <button class="icon-button delete" {{action 'removeImage'}}>
          {{svg-icon _name="x" _size=48}}
        </button>
      {{else}}
        <div class="drop-area">
          {{svg-icon _name="image" _size=48}}
        </div>

      {{/if}}
    {{/images-drop-area}}

    {{partial 'cheevie-edit-form'}}

{{/modal-wrapper}}