{{#modal-wrapper
    goBack=(action 'goBack')
    busy=busy
    disableDrag=hasChangedAttributes
}}

    <div class="image-uploader-wrapper">
        <a class="image-uploader-trigger" href="" {{action 'chooseMethod'}}></a>

        {{#images-drop-area
        images=_model.images-set
        uploadImage=(action 'uploadImage')
        }}
            {{#if _image}}
                <figure class="image">
                <img src={{_image.url}}>
                </figure>

                <button class="icon-button delete" {{action 'removeImage'}}>
                {{svg-icon _name="x" _size=48 _title=(t 'icons.remove') class="h-center bottom"}}
                </button>
            {{else}}
                <div class="drop-area">
                {{svg-icon _name="image" _size=48 _title=(t 'icons.add_image') class="h-center bottom"}}
                </div>

            {{/if}}
        {{/images-drop-area}}
        {{#if showOptionalMenu}}
            <ul class="optional-menu">
                <li {{action 'selectGiphy'}}>
                    {{t 'optional-menu.giphy'}}
                </li>
                <li {{action 'selectUpload'}}>
                    {{t 'optional-menu.upload'}}
                </li>
                <li {{action 'closeOptionalMenu'}}>
                    {{t 'optional-menu.cancel'}}
                </li>
            </ul>
        {{/if}}
    </div>

    {{#if showGiphySelector}}
        {{giphy-selector goBack=(action 'closeOptionalMenu') takeGiphy=(action 'takeGiphy')}}
    {{/if}}

    {{partial 'cheevie-edit-form'}}

{{/modal-wrapper}}