{{#modal-wrapper goBack=(action 'goBack')}}
    {{#images-drop-area
      images=model.photoUR
      uploadImage=(action 'uploadImage')
    }}
      {{#if image}}
        <figure class="image">
          <img src={{image.url}}>
        </figure>

        <a class="delete is-large" {{action 'removeImage'}}></a>
      {{else}}
        <div class="drop-area">
          {{svg-icon _name="image" _size=48}}
        </div>

      {{/if}}
    {{/images-drop-area}}

    {{partial 'cheevie-edit-form'}}

{{/modal-wrapper}}