<ModalWrapper @goBack={{action "goBack"}} @busy={{busy}}>

    <div class="draggable-slider-wrapper">
        <DraggableSlider @class="slides">
            <li class="slide">
                <video width="544" height="960" controls playsinline preload="metadata">
                    <source src="https://firebasestorage.googleapis.com/v0/b/cheevies-jerk.appspot.com/o/guides%2Fcreate_cheevie.mp4?alt=media&token=2adc9acb-5a7f-4597-8cf2-10d78f34e13d"
                        type="video/mp4">
                </video>

                <h1 class="slide-title">
                    {{t 'slides.title.create-cheevie'}}
                </h1>
            </li>

            <li class="slide">
                <video width="544" height="960" controls playsinline preload="metadata">
                    <source src="https://firebasestorage.googleapis.com/v0/b/cheevies-jerk.appspot.com/o/guides%2Fedit_cheevie.mp4?alt=media&token=211a6f21-0a4f-4e97-92cc-91bed40fa364"
                        type="video/mp4">
                </video>

                <h1 class="slide-title">
                    {{t 'slides.title.edit-cheevie'}}
                </h1>
            </li>

            <li class="slide">
                <video width="544" height="960" controls playsinline preload="metadata">
                    <source src="https://firebasestorage.googleapis.com/v0/b/cheevies-jerk.appspot.com/o/guides%2Feditprofile.mp4?alt=media&token=0310f9a3-22a2-49cd-b619-ffe02c162411"
                        type="video/mp4">
                </video>

                <h1 class="slide-title">
                    {{t 'slides.title.edit-profile'}}
                </h1>
            </li>

            <li class="slide">
                <video width="544" height="960" controls playsinline preload="metadata">
                    <source src="https://firebasestorage.googleapis.com/v0/b/cheevies-jerk.appspot.com/o/guides%2Fgive_cheevie.mp4?alt=media&token=2e4d8964-bf36-48cb-8eb6-0803f136eba7"
                        type="video/mp4">
                </video>

                <h1 class="slide-title">
                    {{t 'slides.title.present-cheevie'}}
                </h1>
            </li>

            <li class="slide">
                <video width="544" height="960" controls playsinline preload="metadata">
                    <source src="https://firebasestorage.googleapis.com/v0/b/cheevies-jerk.appspot.com/o/guides%2Finvitetogroup.mp4?alt=media&token=7d13a9b5-bd46-4396-bda3-19409c796c63"
                        type="video/mp4">
                </video>

                <h1 class="slide-title">
                    {{t 'slides.title.invite-new-pal'}}
                </h1>
            </li>
        </DraggableSlider>
    </div>

    {{outlet}}

</ModalWrapper>
