<EmberNotify @classPrefix="app-notify" as |message close|>
    <div class="notification is-{{message.type}}">
        <button class="delete" {{action close}}></button>
        {{message.text}}
    </div>
</EmberNotify>

<div class="{{routeStyleNamespaceClassSet}}">
    {{outlet}}
</div>