{{#site-drawer drawerData as |drawerData|}}
{{#if session.isAuthenticated}}
  {{site-header _drawerData=drawerData}}
{{/if}}

{{#ember-notify as |message close|}}
  <div class="notification is-{{message.type}}">
    <button class="delete" {{action close}}></button>
    {{message.text}}
  </div>
{{/ember-notify}}

<div class="content-wrapper {{routeStyleNamespaceClassSet}}">
    {{outlet}}
</div>

{{/site-drawer}}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">