<ul class="form-errors">
    {{#each _model.errors as |error|}}
    <li>
        {{error.attribute}}: {{error.message}}
    </li>
    {{/each}}
</ul>

<form {{action 'updateCheevie' on="submit"}}>
  <div class="field">
    <label class="label" for="name">{{t 'create-cheevie.form.name.label'}}</label>
    <div class="control">
      <Input class="input" data-test-id="name" @id="name" @type="text" placeholder={{t "create-cheevie.form.name.placeholder"}} @value={{_model.name}} />
    </div>
  </div>

  <div class="field power variants">
      {{#each _model.rates as |rate|}}
        <label class="control" for={{rate}}>
          <input
            type="radio"
            name="power"
            id={{rate}}
            value={{rate}}
            checked={{eq _model.power rate}}
            onchange={{action (mut _model.power) value='target.value'}}>

          <div class="status {{rate}}">
            <span>{{t (add 'create-cheevie.form.power.' rate)}}</span>
          </div>
        </label>
      {{/each}}
  </div>

  <div class="field">
    <label class="label" for="description">{{t 'create-cheevie.form.description.label'}}</label>
    <div class="control">
      <Textarea data-test-id="description" class="textarea" @id="description" placeholder={{t "create-cheevie.form.description.placeholder"}} @value={{_model.description}} />
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button">
        <SvgIcon @_name="check" @_size={{24}} />
      </button>
    </div>
  </div>
</form>