<div class="sections-wrapper {{activePage}}">
  <section class="users-list grid-wrapper-2">
    {{#link-to 'profile' model.me class="is-me"}}
      {{user-in-list user=model.me}}
    {{/link-to}}

    {{#each users as |user|}}
      {{#link-to 'profile' user}}
        {{user-in-list user=user}}
      {{/link-to}}
    {{/each}}
  </section>

  <section class="cheevies-list grid-wrapper-3">
    {{#each cheevies as |cheevie|}}
      {{#link-to 'index.cheevie-details' cheevie}}
        {{cheevie-in-list cheevie=cheevie}}
      {{/link-to}}
    {{/each}}
  </section>
</div>

{{outlet}}

<footer>
  <button class="icon-button {{if (eq activePage 'users') 'active'}}" {{action 'setActivePage' 'users'}}>
    {{svg-icon _name="users" _size=24}}
  </button>
  <button class="icon-button {{if (eq activePage 'cheevies') 'active'}}" {{action 'setActivePage' 'cheevies'}}>
    {{svg-icon _name="star" _size=24}}
  </button>
</footer>
