<section class="section">
  {{link-to (t 'index.create-cheevie.linkText') 'index.create-cheevie'}}
  {{!-- {{link-to (t 'index.create-badge.linkText') 'index.create-badge'}} --}}
</section>

<section class="section">
  <h2 class="title">
    {{t 'index.users-list.title'}}
  </h2>
  <div class="columns is-mobile is-centered is-multiline">
    {{#each model.users as |user|}}
      {{user-in-list user=user class="column is-one-fifth has-text-centered"}}
    {{/each}}
  </div>
</section>

<section class="section">
  <h2 class="title">
    {{t 'index.cheevies-list.title'}}
  </h2>
  <div class="columns is-mobile is-centered is-multiline">
    {{#each model.cheevies as |cheevie|}}
      {{cheevie-in-list cheevie=cheevie class="column is-one-fifth has-text-centered"}}
    {{/each}}
  </div>
</section>

{{outlet}}