{{!-- <ProfileAnimationWrapper @_cheeviesPromise={{_cheeviesPromise}}> --}}
<section class="center-wrapper {{if isMe 'is-me'}}">
<div class="user-image-wrapper {{if busy 'busy'}}">
    {{#unless isMe}}
        <IconImage @data={{model}} @image={{avatar}} @class="user-image" />
    {{else}}
        <ImagesDropArea @images={{model.imageUrl}} @uploadImage={{action "uploadImage"}}>
        <IconImage @data={{this.model}} @image={{avatar}} @class="user-image" />
        {{#if isMe}}
            {{#if model.imageUrl}}
            <button class="icon-image delete" {{action 'removeImage'}}>
                <SvgIcon @_name="x" @_size={{24}} @_title={{t "icons.remove"}} @class="h-center bottom" />
            </button>
            {{/if}}
        {{/if}}
        </ImagesDropArea>
        <a class="input-click-handler" {{action 'handleInputClick'}}></a>
    {{/unless}}

  <div class="experience">
    {{cheevie-exp cheevies}}
  </div>
</div>

<h1 class="name">
  {{#if isMe}}
    <Input @type="text" @value={{model.name}} class="psevdo-title" />
  {{else}}
    {{model.name}}
  {{/if}}
</h1>

<div class="cheevies grid-wrapper-3">
  {{#each cheevies as |cheevie|}}
    <div class="cheevie-wrapper" id={{cheevie.id}} {{action 'cheevieDetails' cheevie}}>
      <CheevieInList @cheevie={{cheevie}} />
    </div>
  {{else}}
    <div class="empty-placeholder">
      {{t 'you-have-no-cheevies-yet'}}
    </div>
  {{/each}}

  {{#each cheevies as |cheevie|}}
    <ItemHint @data={{cheevie}} @id={{add cheevie.id "_hint"}}>
      {{#if isMe}}
        <button class="icon-button delete" {{action 'refuseCheevie' cheevie}}>
          <SvgIcon @_name="trash-2" @_size={{18}} @_title={{t "icons.refuse"}} @class="v-center left" />
        </button>
      {{/if}}

      {{#if isShareAvailable}}
      {{#if isMe}}
        <button class="icon-button share" {{action 'shareCheevie' cheevie}}>
          <SvgIcon @_name="share-2" @_size={{18}} @_title={{t "icons.share"}} @class="v-center left" />
        </button>
      {{/if}}
      {{/if}}
    </ItemHint>
  {{/each}}
</div>
</section>
{{!-- </ProfileAnimationWrapper> --}}

{{#if openPopper}}
  <div class="card-content-overlay" {{action 'closeCheevieDetails' on='click'}}></div>
{{/if}}

{{#unless isMe}}
  <footer>
    <button class="icon-button give-cheevie" {{action 'showCheeviesPicker'}}>
      <SvgIcon @_name="award" @_size={{24}} @_title={{t "icons.reward"}} @class="h-center bottom" />
    </button>
  </footer>
{{/unless}}

{{outlet}}
