<section class="content-wrapper {{if isMe 'is-me'}}">
<div class="user-image-wrapper">
  {{#images-drop-area
    images=model.imageUrl
    uploadImage=(action 'uploadImage')
  }}
    {{icon-image data=this.model image=avatar class="user-image"}}
    {{#if isMe}}
      {{#if model.imageUrl}}
        <button class="icon-image delete" {{action 'removeImage'}}>
          {{svg-icon _name="x" _size=24}}
        </button>
      {{/if}}
    {{/if}}
  {{/images-drop-area}}

  <div class="experience">
    {{model.exp}}
  </div>
</div>

<h1 class="name">
  {{#if isMe}}
    {{input type='text' value=model.name class="psevdo-title"}}
  {{else}}
    {{model.name}}
  {{/if}}
</h1>

<div class="cheevies grid-wrapper-3">
  {{#each cheevies as |cheevie|}}
    <div class="cheevie-wrapper" id={{cheevie.id}} {{action 'cheevieDetails' cheevie}}>
      {{cheevie-in-list cheevie=cheevie}}
    </div>
  {{/each}}

  {{#each cheevies as |cheevie|}}
    {{#item-hint
      data=cheevie
      id=(add cheevie.id '_hint')}}
      {{#if isMe}}
        <button class="icon-button delete" {{action 'refuseCheevie' cheevie}}>
          {{svg-icon _name="trash-2" _size=18}}
        </button>
      {{/if}}
    {{/item-hint}}
  {{/each}}
</div>
</section>

{{#if openPopper}}
  <div class="card-content-overlay" {{action 'closeCheevieDetails' on='click'}}></div>
{{/if}}

{{#unless isMe}}
  <footer>
    <button class="icon-button give-cheevie" {{action 'showCheeviesPicker'}}>
      {{svg-icon _name="award" _size=24}}
    </button>
  </footer>
{{/unless}}

{{outlet}}
