
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      {{#images-drop-area
        images=model.user.photoURL
        uploadImage=(action 'uploadImage')
      }}
        {{avatar-icon user=model.user size=200}}
        {{#if isMe}}
          {{#if model.user.photoURL}}
            <a class="delete is-large" {{action 'removeImage'}}></a>
          {{/if}}
        {{/if}}
      {{/images-drop-area}}
      <h1 class="title">
        {{model.user.name}}
      </h1>
      <div class="cheevies">
        {{#each model.user.cheevies as |cheevie|}}
          aaa
        {{/each}}
      </div>

      {{#unless isMe}}
        <button {{action 'showCheeviesPicker' true}}>Give cheevie</button>
      {{/unless}}

      {{#if cheeviesPickerIsVisible}}
        <div class="modal is-active">
          <div class="modal-background"></div>
          <div class="modal-content">
            {{#each model.cheevies as |cheevie|}}
              {{cheevie.name}}
            {{/each}}
          </div>
          <button class="modal-close is-large" aria-label="close" {{action 'showCheeviesPicker' false}}></button>
        </div>
      {{/if}}
    </div>
  </div>
</section>