<ul class="form-errors">
  {{#each model.errors as |error|}}
  <li>
      {{error.attribute}}: {{error.message}}
  </li>
  {{/each}}
</ul>
{{#unless session.isAuthenticated}}
<section class="section container" test-id="credentials-section">
  <form {{action 'handleRegister' on="submit"}}>
    <div class="field">
        <label class="label" for="name">{{t 'form.name.label'}}</label>
        <div class="control">
            {{input class="input" id="name" type="text" placeholder=(t 'form.name.placeholder') value=model.name}}
        </div>
    </div>

    <div class="field">
      <label class="label" for="email">{{t 'form.email.label'}}</label>
      <div class="control">
        {{input class="input" id="email" type="email" placeholder=(t 'form.email.placeholder') value=model.email}}
      </div>
    </div>

    <div class="field">
      <label class="label" for="password">{{t 'form.password.label'}}</label>
      <div class="control">
        {{input class="input" id="password" type="password" placeholder=(t 'form.password.placeholder') value=model.password}}
      </div>
    </div>

    <div class="field">
      <button hidden class="button is-link" type="submit">{{t 'register.buttons.submit'}}</button>
    </div>
  </form>
</section>
{{else}}
<section class="section container" test-id="group-select-section">
  <div class="user-wrapper">
    <div class="user-name">{{myModel.name}}</div>
    <button class="icon-button" test-id="invalidate-button" {{action 'invalidate'}}>
      {{svg-icon _name="x" _size=20}}
    </button>
  </div>

  <form {{action "selectGroup" on="submit"}}>
    <div class="field">
        <label class="label" for="group">{{t 'form.name.group'}}</label>
        <div class="control">
            {{input class="input" id="group" type="text" placeholder=(t 'form.group.placeholder') value=model.group}}
        </div>
    </div>

    <div class="control">
      <button hidden type="submit" class="button is-link">{{t 'login.buttons.submit'}}</button>
    </div>
  </form>
</section>
{{/unless}}

{{link-to (t 'register.buttons.login') 'login' class="button is-text"}}