{{#register-svg-bg _isAuthenticated=session.isAuthenticated}}

<div class="center-wrapper">
<div class="logo-wrapper">
  <img src="/images/Logo_white.svg" alt="">
</div>
<ul class="form-errors">
  {{#each model.errors as |error|}}
  <li>
      {{error.attribute}}: {{error.message}}
  </li>
  {{/each}}
</ul>
{{#unless session.isAuthenticated}}
<section class="section container" test-id="credentials-section">
  <form {{action 'handleRegister' on="submit"}}>
    <div class="field">
        <label class="label" for="name">{{t 'form.name.label'}}</label>
        <div class="control">
            {{input class="input" id="name" type="text" placeholder=" " autocomplete="name"  value=model.name}}
            <div class="placeholder">{{t 'form.name.placeholder'}}</div>
            <div class="background"></div>
        </div>
    </div>

    <div class="field">
      <label class="label" for="email">{{t 'form.email.label'}}</label>
      <div class="control">
        {{input class="input" id="email" type="email" placeholder=" " value=model.email}}
        <div class="placeholder">{{t 'form.email.placeholder'}}</div>
        <div class="background"></div>
      </div>
    </div>

    <div class="field">
      <label class="label" for="password">{{t 'form.password.label'}}</label>
      <div class="control">
        {{input class="input" id="password" type="password" placeholder=" " value=model.password}}
        <div class="placeholder">{{t 'form.password.placeholder'}}</div>
        <div class="background"></div>

        <button type="submit" class="submit-button icon-button">
            {{svg-icon _name="arrow-right" _size=20}}
        </button>
      </div>
    </div>
  </form>
</section>
{{else}}
<section class="section container" test-id="group-select-section">
  <div class="user-wrapper">
    <div class="user-name">{{myModel.name}}</div>
    <button class="icon-button" test-id="invalidate-button" {{action 'invalidate'}}>
      {{svg-icon _name="x" _size=20}}
    </button>
  </div>

  <form {{action "selectGroup" on="submit"}}>
    <div class="field">
        <label class="label" for="group">{{t 'form.name.group'}}</label>
        <div class="control">
            {{input class="input" id="group" type="text" placeholder=" " value=model.group}}
            <div class="placeholder">{{t 'form.group.placeholder'}}</div>
            <div class="background"></div>

            <button type="submit" class="submit-button icon-button">
                {{svg-icon _name="arrow-right" _size=20}}
            </button>
        </div>
    </div>
  </form>
</section>
{{/unless}}

  <div class="text-center-wrapper login-link-wrapper">
    {{t 'or'}} {{link-to (t 'register.buttons.login') 'login'}}
  </div>
</div>

{{/register-svg-bg}}

<div class="text-center-wrapper reset-password">
    {{link-to (t 'nav.forgot-password') 'reset-password'}}
</div>