<section class="section container">
  <h1 class="title">
    {{t 'register.title'}}
  </h1>
  <form {{action 'handleSubmit' on="submit"}}>
    <div class="field">
        <label class="label" for="name">{{t 'form.name.label'}}</label>
        <div class="control">
            {{input class="input" id="name" type="text" placeholder=(t 'form.name.placeholder') value=fields.name}}
        </div>
    </div>

    <div class="field">
      <label class="label" for="email">{{t 'form.email.label'}}</label>
      <div class="control">
        {{input class="input" id="email" type="email" placeholder=(t 'form.email.placeholder') value=fields.email}}
      </div>
    </div>

    <div class="field">
      <label class="label" for="password">{{t 'form.password.label'}}</label>
      <div class="control">
        {{input class="input" id="password" type="password" placeholder=(t 'form.password.placeholder') value=fields.password}}
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">{{t 'register.buttons.submit'}}</button>
      </div>
      <div class="control">
        <button class="button is-text" type="button" {{action 'goToLogin'}}>{{t 'register.buttons.login'}}</button>
      </div>
    </div>
  </form>
</section>