{{#login-svg-bg _isAuthenticated=session.isAuthenticated}}
    <div class="center-wrapper">
        <ul class="form-errors">
            {{#each model.errors as |error|}}
            <li>
                {{error.attribute}}: {{error.message}}
            </li>
            {{/each}}
        </ul>
        <form {{action 'resetPassword' on="submit"}} autocomplete="off" novalidate>
            <div class="field">
                <label class="label" for="email">{{t 'form.email.label'}}</label>
                <div class="control">
                    {{input autocomplete="off" class="input" id="email" type="email" placeholder=" " value=model.email}}
                    <div class="placeholder">{{t 'form.email.placeholder'}}</div>
                    <div class="background"></div>
                    <button type="submit" class="submit-button icon-button">
                        {{svg-icon _name="arrow-right" _size=20}}
                    </button>
                </div>
            </div>
        </form>

        <div class="text-center-wrapper link-wrapper">
            <a class="button is-text" {{action 'cancel'}} href="#">{{t 'buttons.cancel'}}</a>
        </div>

        {{outlet}}
    </div>
{{/login-svg-bg}}
